* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Light Mode */
  --color-hue: 194;
  --color-bg: hsl(var(--color-hue), 5%, 7%);
  --color-text: hsl(var(--color-hue), 40%, 90%);
  --color-primary: hsl(var(--color-hue), 100%, 63%);
  --color-controls-bg: hsl(var(--color-hue), 0%, 14%);
  --color-button-secondary: hsl(var(--color-hue), 40%, 90%);

  font-size: clamp(40%, 1%+2vw, 62.5%);
}

/* Configuração Light Mode */
html.light {
  --color-bg: hsl(var(--color-hue), 40%, 90%);
  --color-text: hsl(var(--color-hue), 5%, 7%);
  --color-controls-bg: hsl(var(--color-hue), 0%, 14%);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
  display: none;
}

#toggle-mode {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  font-size: 3.2rem;
  line-height: 0;

  color: var(--color-text);
}

/* Screen Reader Only - Acessibilidade */
.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0px;
  border: 0px;
  appearance: none;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);

  display: grid;
  height: 100vh;
  place-content: center;
}

app {
  display: grid;
  justify-items: center;
}

.flex {
  display: flex;
  justify-content: center;
}

#timer {
  font-size: 9.6rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

#controls {
  background-color: var(--color-controls-bg);
  border-radius: 999rem;
  margin-top: 1.6rem;
  padding: 2.2rem 4rem;
  gap: 1.6rem;
}

button {
  background-color: transparent;
  color: var(--color-primary);
  border: 0;

  cursor: pointer;

  font-size: 6.4rem;
}

.secondary {
  color: var(--color-button-secondary);
}

/* Controls */
.running .ph-play-circle,
.running .ph-timer,
.music-on .ph-speaker-none,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.music-on) .ph-speaker-high {
  display: none;
}
